#modal_wrapper{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
    display: none;
}

#modal_contents{
    position: relative;
    width: 50vw;
    margin: 0 auto;
    background-color: #fff;
    z-index: 9999;
    padding: 1rem;
}

#new_task{
    position: relative;
    width: 50vw;
    margin: 0 auto;
    background-color: #fff;
    z-index: 9999;
    padding: 1rem;

}

#close_modal{
    position: absolute;
    top: 1rem;
    right: 1rem;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 90vw;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 1rem;
    background: rgba(220, 220, 220, 0.5);
}

nav h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 0.5rem 0;
}

nav div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

nav h4 {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding: 0.25rem 1rem;
    background: #fff;
    font-size: 1rem;
    margin: 0.25rem 1rem;
    border-radius: 0.5rem;
}

nav h4 a {
    text-decoration: none;
    color: darkmagenta;
}

main {
    padding: 0 1rem;
    min-width: 30vw;
}

article h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    margin: 1rem 0 0.5rem;
}

ul#task_list {
    list-style-type: none;
    margin: 0.5rem 0;
    padding: 0;
    font-size: 1rem;
}

ul#task_list li {
    margin: 0.5rem 0;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 20fr;
    column-gap: 1rem;
    position: relative;
}

ul#task_list li p.task_actions {
    position: absolute;
    top: 0;
    right: 1rem;
    display: flex;
    justify-content: space-between;
    width: 6rem;
}

p.task_actions button {
    font-size: 0.75rem;
    outline: 1px solid black;
    color: #d00;
    background-color: transparent;
    border: none;
}

ul#task_list li.overdue {
    background-color: rgba(255, 0, 0, 0.25);
}

ul#task_list li input {
    padding: 10rem;
    grid-column: 1;
}

ul#task_list li label {
    grid-column: 2;
    font-weight: bold;
    font-size: 1.25rem;
}

ul#task_list li p {
    grid-column: 2;
    font-size: 0.75rem;
    margin: 0.5rem 0;
}

ul#task_list li p.completed {
    font-style: italic;
    margin: 0.25rem 0;
}

header h3 {
    margin: 0.5rem 0 2rem;
    font-size: 1.25rem;
}

#modal_form {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 2rem;
    display: none;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 9998;
}

section#new_task {
    position: relative;
    width: 50vw;
    margin: 0 auto;
    background-color: #fff;
    z-index: 9999;
    padding: 1rem;
}

#close_modal {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

section#new_task h3 {
    margin: 0.5rem 0;
}

section#new_task input {
    width: 100%;
    margin: 0.5rem 0;
}

section#new_task textarea {
    width: 100%;
    height: 10vw;
}

section#new_task button {
    display: block;
    margin: 0 auto;
    background: darkgreen;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
}

hr {
    margin: 2rem 0;
}

@media only screen and (min-width: 600px) {
    nav div {
        flex-direction: row;
    }
}

@media only screen and (min-width: 990px) {
    body {
        flex-direction: row;
        width: 60vw;
    }

    nav {
        width: 15vw;
    }

    nav div {
        flex-direction: column;
    }

    article li {
        grid-template-columns: 1fr 9fr;
    }
}